<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    <article class="post">
      <div class="title">
        {{event_title}}
        <br>
        {{band}}
        <br>
        {{genre}}
        <br>
        {{venue}}
        <br>
        {{event_description}}
        <br>
        {{city}}
        <br>
        {{staff_pick}}
        <br>
        {{date}}   
        <br>     
      </div>

    </article>
  </li>
  {{/each}}
</ol>