<section>
    <div class="wrapper">
        <div class="main-post">
            <div class="post-left">
                <div class="post-details">
                    <h1>{{post.event_title}}</h1>
                    <div class="post-cat">
                        <p class="PG">{{post.venue}}</p>
                        <p class="year">{{post.date}}</p>
                        <p class="genre">{{post.genre}}</p>
                        <p class="time">{{post.city}}</p>
                    </div>
                    <p class="disc">{{post.event_description}}</p>
                    <a href="https://www.imdb.com/title/tt4912910/" target="_blank">Read More</a>
                    <div class="social-btn">
                    <!-- LISTEN TRAILER-->
                        <button>
                            <i class="bi bi-play"></i> SEE TRAILER
                        </button>
                    <!-- GET-->
                        <button>
                            <i class="bi bi-download"></i> DOWNLOAD
                        </button>
                    <!--USERS RATINGS-->
                        <button>
                            <i class="bi bi-thumbs-up"></i> 97%
                        </button>
                    <!--BOOKMARK-->
                        <button>
                            <i class="bi bi-star"></i>
                        </button>
                    </div>	
                </div>
            </div>
            <div class="post-right">
                <div class="img-container">
                    <img src="https://upload.wikimedia.org/wikipedia/en/f/ff/MI_%E2%80%93_Fallout.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

